html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(242, 242, 242);
  font-family: Roboto 'Helvetica Neue' Helvetica sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  outline: none;
  font-family: Roboto 'Helvetica Neue' Helvetica sans-serif;
}
.wrapper {
  display: flex;
  padding: 0 30px;
  padding-top: 80px;
}
.content {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}
.content--full {
  max-width: 1000px;
}
